@font-face {
    font-family: 'Pixelify Sans';
    src: url('PixelifySans.ttf') format('woff2-variations'); 
    font-weight: 100 900;
    font-style: normal;
}
html, body, canvas {
	background: gray;
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 1rem;
}
canvas, body {
    touch-action: none;
}
#card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    display: block;
    width: 99%;
    padding: 20px;
}
.interact {
	cursor: pointer;
	padding: 2px;
}
.interact::before, .interact::before {
	content: '> ';
	font-size: .7rem;
	vertical-align: middle;
	margin: 0 5px 2px 0;
	display: inline-block;
}
.interact:hover, .interact:hover {
	color: blue;
}
#description {
	padding: 30px;
	background: rgba(0,0,0,.5);
	width: 90%;
	max-width: 600px;
	color: white;
}